@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;  
    padding: 0px;   
    margin: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
.nav-link:hover{
    color: #282828;
    transition: 0.3s;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient();
}

/* Header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

/* Background */
.background-ctu{
    background: url(/Front-End/Reference/ctu-danao-campus.jpg) no-repeat;
    background-size: 100% 63%;
    background-position: top;
    width: 100%;
    height: 63%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(249, 166, 2);
    padding: 10px 50px;  
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.right-side-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    display: flex;
    vertical-align: center;
    align-items: center;
}

.school-ctu {
    margin: 0;  
}

.logo img {
    height: 50px;
    width: auto;
    cursor: pointer;
    margin-right: 18px;
}

/*Slides*/
.container {
    margin-top: 200px;
    border-radius: 15px;
    padding-top: 30px;
}

.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background-color: #282828;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease;
}

.card-list .card-item .card-link:active {
    cursor: grabbing;
}

.card-list .card-item .card-link:hover {
    border-color: #ffcc00;
}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link .item-lost-name {
    font-size: 100px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin: 40px;
}
.card-list .card-item .card-link .status{
    margin: 0;
}
.card-list .card-link .click-for-more {
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.card-list .card-link:hover .click-for-more {
    color: #ffcc00;
    transition: 0.4s ease;
}

.card-wrapper {
    max-width: 1000px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}
.card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #ffcc00;
}

.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}

.card-wrapper .swiper-slide-button {
    color: #ffcc00;
    margin-top: -35px;
}


/*End of Header*/
/* Section */
.wrapper{
    width: fit-content;
    height: 100vh;
    margin-bottom: 350px;
}
.section-container{
    margin:0px;
    width: auto; 
}
.section-container .boxes-outer-container{
    display: flex;
    margin-top: 30px;
}
.txt-container{
    display: flex;
    align-items: center;
    margin: 0;
}
.txt{
    color: #2c3b80;
    font-size: 20px;
    font-weight: 600;
}
.boxes-container{                       
    background-color: #282828;
    border-radius:10px ;
    margin-right:30px;
    height: 350px;
    width: 300px;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
}
.boxes-container:hover{
    border: 2px solid #F9A602;
    transition: 0.3s;
}

.boxes-container .item-lost-name{
    font-size: 40px;
    font-weight: 500;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
.line{
    height: 25px;
    width:5px;
    background-color:#F9A602 ; 
    margin-right: 10px;
}
/* VIEW MORE BUTTON */
.view-more-button{
    background-color: #F9A602;
    height: 45px;
    width: 150px;
    padding: 9px 25px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    transition: background-color 0.5s ease;
    margin-top: 30px;  
}
 .view-more-button:hover{
    background-color: transparent;
    color: #3a53c3;
    border: 2px solid #F9A602;
    border: 2px solid #F9A602;  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
} 
/* WHOLE SECTION */
.whole-section{
    display: flex; /* Use flexbox to arrange children side by side */

}
.wrapper-sections{
    flex: 3; 
    padding: 20px;
    overflow-y: auto;
}
.right-section {
   margin-top: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 250px;
   box-shadow:10px 10px 10px #6a6d71;
   border: none;
}
.right-section .searchbar{
    position: relative;
}
.right-section .searchbar .search-item{
    display: block;
    background-color: #F9A602;
    padding: 3px 20px 3px 10px;
    border-radius: 0;
}
.right-section .searchbar .search-button{
    position: absolute;
    top: 0;
    right:0;
    border: none;
    width: 50px;
    height: 100%;
    background: none;
    cursor: pointer; 
}
.right-section .searchbar .search-button i{
    color: #6a6d71;
}
.right-section .searchbar .search-button i:hover{
    color: #3a53c3;
}

/* Responsive Design */
@media screen and (max-width:768px) {
    .card-wrapper {
        margin: 0 10px 25px;
    }
    .card-wrapper .swiper-slide-button {
        display: none;
    }
}