@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;  
    padding: 0px;   
    margin: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
.nav-link:hover{
    color: #282828;
    transition: 0.3s;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient();
}

/* Header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

/* Background */
.background-ctu{
    background: url(/Front-End/Reference/ctu-danao-campus.jpg) no-repeat;
    background-size: 100% 63%;
    background-position: top;
    width: 100%;
    height: 63%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9a602;
    padding: 10px 50px;  
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.right-side-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    display: flex;
    vertical-align: center;
    align-items: center;
}

.school-ctu {
    margin: 0;  
}

.logo img {
    height: 50px;
    width: auto;
    cursor: pointer;
    margin-right: 18px;
}
.items {
    position: relative; 
}
.dropdown {
    display: none; /* Hide dropdown by default */
    position: absolute; /* Position it absolutely */
    background-color: #f9a602; /* Background color of dropdown */
    border: 1px solid #ccc; /* Border for dropdown */
    list-style: none; /* Remove bullet points */
    padding: 0;  /* Remove padding */
    margin: 0; /* Remove margin */
    z-index: 1000; /* Ensure it appears above other elements */
}

.dropdown li {
    padding: 10px; /* Add padding to list items */
}

.dropdown li a {
    text-decoration: none; /* Remove underline from links */
    color: #ffffff; /* Change text color */
    transition: 0.5s;
}
.dropdown li a:hover {
color: #282828;
}
.items:hover .dropdown {
    display: block; /* Show dropdown on hover */
}
/*End of Header*/


/* Responsive Design */
@media screen and (max-width:768px) {
    .card-wrapper {
        margin: 0 10px 25px;
    }
    .card-wrapper .swiper-slide-button {
        display: none;
    }
}