@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;  
    padding: 0px;   
    margin: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
.nav-link:hover{
    color: #282828;
    transition: 0.3s;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient();
    padding-top: 100px;
}

/* Header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

/* Background */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9a602;
    padding: 10px 50px;  
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.right-side-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    display: flex;
    vertical-align: center;
    align-items: center;
}

.school-ctu {
    margin: 0;  
}

.logo img {
    height: 50px;
    width: auto;
    cursor: pointer;
    margin-right: 18px;
}
.items {
    position: relative; 
}
.dropdown {
    display: none; /* Hide dropdown by default */
    position: absolute; /* Position it absolutely */
    background-color: #f9a602; /* Background color of dropdown */
    border: 1px solid #ccc;
/* Border for dropdown */
    list-style: none; /* Remove bullet points */
    padding: 0;  /* Remove padding */
    margin: 0; /* Remove margin */
    z-index: 1000;
    right:-5px; /* Ensure it appears above other elements */
}

.items-lost-button,.items-found-button{
    height: 100%;
    width: 100%;
    padding: 15px;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.items-lost-button:hover,.items-found-button:hover{
    background-color: rgba(0, 0, 0, 0.247);
}
.items:hover .dropdown {
    display: block; /* Show dropdown on hover */
}
.notification{
    position: relative;
    margin-right:60px;
}
.notification-bell-btn {
    position: relative;
    background: transparent; /* Make the button background transparent */
    border: none; /* Remove button border */
    cursor: pointer; /* Change cursor to pointer */
}
.notification-bell-btn .bell-badge{
    color: white;
    font-weight: bold;
    background-color: red;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -2px;
    right: -6px;
}
.notification-bell-btn i {
    color: white;
    transition: color 0.3s;
}
.notification-container {
    display: none;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    color: #282828;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: -410px;
    z-index: 998;
}

.notification-label {
    font-weight: bold;
    margin: 10px;
}

.notification-content-container {
    display: flex;
    align-items: center;
    padding: 10px ;
    cursor: pointer;
    align-items: center;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box; 
}
.notification-content-container:hover {
    background-color: #f0f0f0; 
    transition: background-color 0.3s ease;

}
.notification-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.notification-content-item {
    flex-grow: 1;
}

.notification-username {
    font-weight: bold;
}

.notification-action {
    margin: 0 5px;
}

.notification-content-daysPass {
    font-size: 12px;
}
.notification-bell-btn i.active {
    color: #282828; /* Change to your desired color */
}

/* FOR SETTINGS & DROPDOWN */
.settings {
    position: relative;
}
.settings .settings-btn{
    border: none;
    background: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    z-index: 1;
    right: 0;
    border-radius:8px ;
    
}

.dropdown-item {
    cursor: pointer;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    font-weight: 500;
    border-radius:8px ;
    
}

.dropdown-item:hover {
    background-color: #f0f0f0; 
    transition: background-color 0.3s ease;
    border-radius:8px ;
    
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
/*End of Header*/
/* REPORT FORM */
.container {

  max-width: 600px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

h1, h2 {
  color: #333;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
form{
  display: flex;
  flex-direction: column;
}
.submit-btn{
  background-color: #F9A602;
  height: 45px;
  width: 150px;
  padding: 9px 25px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  transition: background-color 0.5s ease;
  margin-top: 30px;  
  align-self: center;
}
.submit-btn:hover{
  background-color: transparent;
  color: #3a53c3;
  border: 2px solid #F9A602;
  border: 2px solid #F9A602;  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
} 